@page
@model Mantenimiento.app.Frontend.Pages.vehiculosModel
@{ 
int counter=1;
}
<div class="justify-content-center text-center">
    <h4>Gestion de Vehiculos - Mantenimiento TIC</h4>
</div>
<br><br>

<ul>
<div>
    <a class="btn btn-primary" asp-page="../vehiculos/Create">Crear <i class="fa-solid fa-user-plus"></i></a>
</div>
lista de vehiculos:

<div class="row">
    <div class="col-md-1 table-bordered">
      <strong>Id</strong>
      </div>
      <div class="col-md-2 table-bordered">
      <strong>Tipo</strong>
      </div>
      <div class="col-md-6 table-bordered">
      <strong>Placa</strong>
      </div>
      <div class="col-md-1 table-bordered">
      <strong>Detalle</strong>
      </div>
      <div class="col-md-1 table-bordered">
      <strong>Actualizar</strong>
      </div>
      <div class="col-md-1 table-bordered">
      <strong>Eliminar</strong>
      </div>

      @foreach (var vehiculo in Model.Vehiculos)
{
  <div class="col-md-1 center table-bordered">
      @counter
      </div>
      <div class="col-md-2 table-bordered">
      @vehiculo.Tipo
      </div>
      <div class="col-md-6 table-bordered">
      @vehiculo.Placa
      </div>
      <div class="col-md-1 center table-bordered">
      <a class="btn btn-info" asp-page="../vehiculos/Details" asp-route-id="@vehiculo.Id"><i class="fa-solid fa-eye center"></i></a>
      </div>
        <div class="col-md-1 center table-bordered">
      <a class="btn btn-success" asp-page="../vehiculos/Create" asp-route-id="@vehiculo.Id"><i class="fa fa-rotate"></i></a>
      </div>
        <div class="col-md-1 center table-bordered">
      <a class="btn btn-danger" asp-page="../vehiculos/Delete" asp-route-id="@vehiculo.Id"><i class="fa fa-eraser"></i></a>
      </div>
      counter = counter + 1;
      
}
</div>
</ul>
